<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}      <link rel="stylesheet" href="{{ asset('path/to/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
         <script src="{{ asset('path/to/jquery.min.js') }}"></script>
        <script src="{{ asset('path/to/bootstrap.min.js') }}"></script>{% endblock %}
    </body>
</html>
